<header class="header" id="home">
  <div class="header-container">
    <div class="logo-container">
      <p class="logo"><i>SIMPLY</i> CHOCOLATE</p>
      <svg class="icon-logo">
        <use href="./img/sprite.svg#chocolate"></use>
      </svg>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li><a href="#home" class="header-nav-list-link">Home</a></li>
        <li>
          <a href="#how-it's-made?" class="header-nav-list-link"
            >How it&#8217;s made?</a
          >
        </li>
        <li>
          <a href="#our-products" class="header-nav-list-link">Our products</a>
        </li>
        <li>
          <a href="#top-selers" class="header-nav-list-link">Top sellers</a>
        </li>
        <li>
          <a href="#is_loved" class="header-nav-list-link"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <ul class="header-social-list">
      <li class="header-social-list-item">
        <a
          href="https://www.instagram.com/"
          class="header-social-link"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Instagram link"
        >
          <svg width="24" height="24" class="header-social-icon">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a
          href="https://www.twitter.com/"
          class="header-social-link"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Twitter link"
        >
          <svg width="24" height="24" class="header-social-icon">
            <use href="./img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="header-menu-icon">
        <use href="./img/sprite.svg#burger"></use>
      </svg>
    </button>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="mobile-menu-close-icon">
      <use href="./img/sprite.svg#cross_white"></use>
    </svg>
  </button>
  <ul class="mobile-menu-list">
    <li>
      <a href="#home" class="mobile-menu-link">Home</a>
    </li>
    <li>
      <a href="#how-it's-made?" class="mobile-menu-link"
        >How it&#8217;s made?</a
      >
    </li>
    <li>
      <a href="#our_products" class="mobile-menu-link">Our products</a>
    </li>
    <li>
      <a href="#top-sellers" class="mobile-menu-link">Top sellers</a>
    </li>
    <li>
      <a href="#is_loved" class="mobile-menu-link">Chocolate is loved</a>
    </li>
  </ul>
  <ul class="mobile-menu-social-list">
    <li>
      <a
        class="mobile-menu-social-link"
        href="https://www.instagram.com/"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="Instagram link"
      >
        <svg class="mobile-menu-social-icon instagram">
          <use href="./img/sprite.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        class="mobile-menu-social-link"
        href="https://www.twitter.com/"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="Twitter link"
      >
        <svg class="mobile-menu-social-icon twitter">
          <use href="./img/sprite.svg#twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>

<script defer src="../js/mobile-menu.js"></script>
