<section class="hero">
  <div class="container hero-container">
    <h1 class="visually-hidden">
      The best chocolate made with love to satisfy all tastes
    </h1>
    <p class="hero-sub-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight&#33;
    </p>
    <div class="hero-btns-positioning">
      <ul class="hero-buttons list">
        <li class="hero-buttons-item">
          <button
            type="button"
            class="hero-btn-order"
            data-modal-open
            aria-label="buy now"
          >
            Buy now
          </button>
        </li>
        <li class="hero-buttons-item">
          <a href="#how_its_made" class="hero-button-link link"
            >How it&#39;s made</a
          >
        </li>
      </ul>

      <div class="scroll">
        <a class="scroll-text link" href="footer">scroll down</a>
        <a class="hero-scroll-link link" href="#footer"
          ><svg class="scroll-icon" width="16" height="16">
            <use href=""></use>
          </svg>
        </a>
      </div>

      <!-- <a href="#footer" class="hero-scroll-link link"
        ><span class="scroll-text">scroll down</span
        ><span class="icon"
          ><svg class="scroll-icon-mobile">
            <use href=""></use></svg></span
      ></a> -->

      <!-- <button class="scroll-button">
        scroll down<span class="hero-scroll-link" href="#footer"
          ><svg class="scroll-icon-mobile">
            <use href=""></use>
          </svg>
        </span>
      </button> -->
    </div>
  </div>
</section>
