<section class="hero container">
  <div class="hero-container">
    <h1 class="visually-hidden">
      The best chocolate made with love to satisfy all tastes
    </h1>

    <p class="hero-sub-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight&#33;
    </p>
    <div class="hero-btns-positioning">
      <ul class="hero-buttons list">
        <li class="hero-buttons-item">
          <button
            type="button"
            class="hero-btn-order"
            data-modal-open
            aria-label="buy now"
          >
            Buy now
          </button>
        </li>
        <li class="hero-buttons-item">
          <a href="#how_its_made" class="hero-button-link link"
            >How it&#39;s made</a
          >
        </li>
      </ul>

      <a class="hero-scroll-btn" href="#footer">
        <div class="scroll-text">scroll down</div>
        <div class="hero-scroll-container">
          <svg class="scroll-icon">
            <use href="../img/sprite.svg#scroll_down"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
