<section class="hero">
  <div class="container hero-container">
    <h1 class="visually-hidden">
      The best chocolate made with love to satisfy all tastes
    </h1>
    <p class="hero-sub-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight&#33;
    </p>
    <ul class="hero-buttons list">
      <li class="hero-buttons-item">
        <button type="button" class="hero-btn-order">Buy now</button>
      </li>
      <li class="hero-buttons-item">
        <a href="#how_its_made" class="hero-button-link link"
          >How it&#39;s made</a
        >
      </li>
    </ul>
    <div class="scroll">
      <p class="scroll-text">scroll down</p>
      <a class="hero-scroll-link link" href="#footer"
        ><svg class="scroll-icon" width="16" height="16">
          <use href=""></use>
        </svg>
      </a>
    </div>
  </div>
</section>
