<section class="how-made" id="how-it's-made?">
  <h1 class="howmade-span" id="how_its_made">
    HOW IT'S <span class="howmade-span-made"> MADE?</span>
  </h1>
  <div class="howmade-flex-list">
    <div class="howmade-video">
      <iframe
        class="video"
        src="https://www.youtube.com/embed/DISjdfkSjc8"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="howmade-list-div">
      <p class="howmade-p">
        Try our chocolates today and discover the perfect balance of flavor
      </p>
      <ul class="howmade-ul">
        <li class="howmade-li">
          <span class="howmade-list-text">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.</span
          >
        </li>
        <li class="howmade-li">
          <span class="howmade-list-text"
            >At the same time, prepare a water bath. Melt the butter on
            it.</span
          >
        </li>
        <li class="howmade-li">
          <span class="howmade-list-text"
            >"Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and
            silky.</span
          >
        </li>
        <li class="howmade-li">
          <span class="howmade-list-text"
            >Heat the mixture over low heat, letting it barely boil.</span
          >
        </li>
        <li class="howmade-li">
          <span class="howmade-list-text"
            >Pour the chocolate into special containers (can be replaced with
            ice molds). Allow to cool and harden.</span
          >
        </li>
      </ul>
    </div>
  </div>
</section>
