<section id="review" class="review-section section">
  <div class="container">
    <h2 class="review-title title">
      <span class="title-decor">chocolate</span> is loved
    </h2>
    <div class="swiper-rew review-swiper-padding">
      <ul class="swiper-wrapper review-swiper-wrapper">
        <li class="review swiper-slide">
          <div class="review-card">
            <img
              class="reviews-card-img"
              srcset="
                ./img/reviews/review-img-1.png 1x,
                ./img/reviews/review-img-1-2x 2x;
              "
              src="./img/reviews/review-img-1.png"
              alt="Victoria Dobrzhanska"
              width="80"
              height="80"
              loading="lazy"
            />
            <h3 class="reviews-card-title">Victoria Dobrzhanska</h3>
            <p class="reviews-card-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </li>
        <li class="review swiper-slide">
          <div class="review-card">
            <img
              class="reviews-card-img"
              srcset="
                ./img/reviews/review-img-2.png 1x,
                ./img/reviews/review-img-2-2x 2x;
              "
              src="./img/reviews/review-img-2.png"
              alt="Nazar Babenko"
              width="80"
              height="80"
              loading="lazy"
            />
            <h3 class="reviews-card-title">Nazar Babenko</h3>
            <p class="reviews-card-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </li>
        <li class="review swiper-slide">
          <div class="review-card">
            <img
              class="reviews-card-img"
              srcset="
                ./img/reviews/review-img-3.png 1x,
                ./img/reviews/review-img-3-2x 2x;
              "
              src="./img/reviews/review-img-3.png"
              alt="Olena Kampusch"
              width="80"
              height="80"
              loading="lazy"
            />
            <h3 class="reviews-card-title">Olena Kampusch</h3>
            <p class="reviews-card-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </li>

        <li class="review swiper-slide">
          <div class="review-card">
            <img
              class="reviews-card-img"
              srcset="
                ./img/reviews/review-img-4.png 1x,
                ./img/reviews/review-img-4-2x 2x;
              "
              src="./img/reviews/review-img-4.png"
              alt="Natalia Sus"
              width="80"
              height="80"
              loading="lazy"
            />
            <h3 class="reviews-card-title">Natalia Sus</h3>
            <p class="reviews-card-text">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </li>

        <li class="review swiper-slide">
          <div class="review-card">
            <img
              class="reviews-card-img"
              srcset="
                ./img/reviews/review-img-5.png 1x,
                ./img/reviews/review-img-5-2x 2x;
              "
              src="./img/reviews/review-img-5.png"
              alt="Danilo Nottingham"
              width="80"
              height="80"
              loading="lazy"
            />
            <h3 class="reviews-card-title">Danilo Nottingham</h3>
            <p class="reviews-card-text">
              This is delicious. It so rich and flavorful you dont need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </li>

        <li class="review swiper-slide">
          <div class="review-card">
            <img
              class="reviews-card-img"
              srcset="
                ./img/reviews/review-img-6.png 1x,
                ./img/reviews/review-img-6-2x 2x;
              "
              src="./img/reviews/review-img-6.png"
              alt="Irina Tydnyuk"
              width="80"
              height="80"
              loading="lazy"
            />
            <h3 class="reviews-card-title">Irina Tydnyuk</h3>
            <p class="reviews-card-text">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class :)
            </p>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination-review"></div>

      <button type="button" class="review-btn js-open-modal" data-modal="2">
        Leave a review
      </button>
    </div>
  </div>
</section>