<section>
<section class="is-loved-section">
    <div>
        <h2 class="is-loved-first-word">chocolate <span class="is-loved-another-text">is loved</span></h2>
        <ul>
            <li>
                <img src="" alt="">
                <div>
                    <h3 class="is-loved-costumer-name">Victoria Dobrzhanska</h3>
                    <p>I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
