<section id="chocolate-is-loved-section" class="reviews">
    <div class="container">
        <h2 class="reviews-title">
            <span class="reviews-title-word">chocolate</span> is loved
        </h2>
        <div class="swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img
                    srcset="
                    ./img/reviews/reviews-img1-min.png   1x,
                    ./img/reviews/reviews-img1@2x-min.png 2x
                    "
                    class="reviews-img"
                    src="./img/reviews/reviews-img1-min.png" 
                    alt="Victoria"
                    width="80"
                    loading="lazy"
                    />
                    <h3 class="reviews-name">Victoria Dobrzhanska</h3>
                    <p class="reviews-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                </li>
                <li class="swiper-slide">
                    <img
                    srcset="
                    ./img/reviews/reviews-img2-min.png  1x,
                    ./img/reviews/reviews-img2@2x-min.png  2x
                    "
                    class="reviews-img"
                    src="./img/reviews/reviews-img2-min.png" 
                    alt="Nazar"
                    width="80"
                    loading="lazy"
                    />
                    <h3 class="reviews-name">Nazar Babenko</h3>
                    <p class="reviews-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
                </li>
                <li class="swiper-slide">
                    <img
                    srcset="
                    ./img/reviews/reviews-img3-min.png  1x,
                    ./img/reviews/reviews-img3@2x-min.png 2x
                    " 
                    class="reviews-img"
                    src="./img/reviews/reviews-img3-min.png" 
                    alt="Olena"
                    width="80"
                    loading="lazy"
                    />
                    <h3 class="reviews-name">Olena Kampusch</h3>
                    <p class="reviews-text">Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
                </li>
                <li class="swiper-slide">
                    <img 
                    srcset="
                    ./img/reviews/reviews-img4-min.png  1x,
                    ./img/reviews/reviews-img4@2x-min.png 2x
                    " 
                    class="reviews-img"
                    src="./img/reviews/reviews-img4-min.png" 
                    alt="Natalia"
                    width="80"
                    loading="lazy"
                    />
                    <h3 class="reviews-name">Natalia Sus</h3>
                    <p class="reviews-text">The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level.</p>
                </li>
            </ul>

        </div>

    </div>

</section>
