<div class="backdrop is-hidden" data-modal>
    <div class="thumb-div">
      <button data-modal-close type="button" class="thumb-btn">
        <svg width="12" height="12" class="thumb-svg">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <strong class="modal-str">BUY<span class="modal-str-2">     NOW</span></strong>
      <ul class="choko-ul list">
        <li class="choko-li">
          <div class="choko-div">
            <img srcset="src\img\modal-window-sellers\choko1.png 1x, src\img\modal-window-sellers\choko1.png 2x" src="src\img\modal-window-sellers\choko1.png" alt="choko1" />
            <button type="button" class="choko-price">100 g</button>
          </div>
        </li>
        <li class="choko-li">
          <div class="choko-div">
            <img srcset="src\img\modal-window-sellers\choko2.png 1x, src\img\modal-window-sellers\choko2.png 2x" src="src\img\modal-window-sellers\choko2.png" alt="choko2" />
            <button class="choko-price">200 g</button>
          </div>
        </li>
        <li class="choko-li">
          <div class="choko-div">
            <img srcset="src\img\modal-window-sellers\choko3.png 1x, src\img\modal-window-sellers\choko3.png 2x" src="src\img\modal-window-sellers\choko3.png" alt="choko3" />
            <button class="choko-price">300 g</button>
          </div>
        </li>
      </ul>
      <form>
        <ul>
          <li>
            <label for="">Personal information</label>
            <input type="text" placeholder="name" />
            <input type="text" placeholder="Surname" />
          </li>
          <li>
            <label for="">Email</label>
            <input type="text" placeholder="Enter your email " />
          </li>
          <li>
            <label for="">Phone number</label>
            <div>
              <input type="text" placeholder="Phone number" />
              <svg width="5" height="5" class="">
                <use href=""></use>
              </svg>
            </div>
          </li>
    
          <li>
            <label for="">Card number</label>
            <div>
              <input type="text" placeholder="enter Card" />
              <svg width="5" height="5" class="">
                <use href=""></use>
              </svg>
            </div>
          </li>
    
          <li class="">
            <label class="" for="modal_comment">Comment</label>
            <textarea
              class="modal-comment"
              name="Comment"
              id="modal_comment"
              rows="4"
              placeholder="Enter text"
            ></textarea>
          </li>
        </ul>
      </form>
      <button type="submit">Submit</button>
    </div>
    </div>