
    <div class="backdrop " is-hidden data-modal> 
      <div class="thumb-div">
        <button data-modal-close type="button" class="thumb-btn">
          <svg width="12" height="12" class="thumb-svg">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <strong class="modal-str">BUY<span class="modal-str-2">     NOW</span></strong>
        <ul class="choko-ul list">
          <li class="choko-li">
            <div class="choko-div">
              <img srcset="./images/choko/choko1.png 1x, ./images/choko/choko1@2x.png 2x" src="./images/choko/choko1.png" alt="choko1" />
              <button type="button" class="choko-price">100 g</button>
            </div>
          </li>
          <li class="choko-li">
            <div class="choko-div">
              <img srcset="./images/choko/choko2.png 1x, ./images/choko/choko2@2x.png 2x" src="./images/choko/choko2.png" alt="choko2" />
              <button class="choko-price">200 g</button>
            </div>
          </li>
          <li class="choko-li">
            <div class="choko-div">
              <img src="./images/choko/choko3.png" alt="choko3" />
              <button class="choko-price">300 g</button>
            </div>
          </li>
        </ul>
        <!-- INPUTS -->
        <form class="modal-form">
          <ul class="inp-ul list">
            <li class="inp-li">
              <label  class="inp-lab" for="">Personal information</label>
              <ul class="person-inp-ul">
                <li class="person-inp-li"><input class="input" type="text" placeholder="Name" /></li>
                <li class="person-inp-li" ><input class="input" type="text" placeholder="Surname" /></li>
              </ul>
            </li>
            <li class="inp-li">
              <label class="inp-lab" for="">Email</label>
              <input class="input" type="text" placeholder="Enter your email " />
            </li>
            <li class="inp-li">
              <label class="inp-lab"  for="">Phone number</label>
              <div class="inp-number-div">
                <input class="input input-num" placeholder="Phone number" />
                <svg width="24" height="18" class="flag-svg">
                  <use href="./images/icons.svg#flag"></use>
                </svg>
              </div>
            </li>

            <li class="inp-li">
              <label class="inp-lab"  for="">Card number</label>
              <div class="inp-card-div">
                <input class="input input-card" type="text" placeholder="Enter Card" />
                <svg width="32" height="21" class="card-svg">
                  <use href="./images/icons.svg#card"></use>
                </svg>
              </div>
            </li>

            <li class="inp-li">
              <label class="inp-lab"  for="modal_comment">Comment</label>
              <textarea
                class="modal-comment"
                name="Comment"
                id="modal_comment"
                rows="4"
                placeholder="Enter text"
              ></textarea>
            </li>
          </ul>
        </form>
        <button type="submit">Submit</button>
      </div>
    </div>

