<section class="our-products-section" id="our_products">
  <div class="container">
    <h2 class="word-our-slogan">
      our <span class="word-products-slogan">products</span>
    </h2>
    <ul class="our-products-list list">
      <li class="our-products-item">
        <img
          srcset="
            ./images/Orange-choco_1x.jpg 1x,
            ./images/Orange-choco_2x.jpg 2x
          "
          src="./images/Orange-choco.jpg"
          alt="ORANGE чорний шоколад"
          width="230"
          height="201"
        />
        <div class="our-products-content">
          <h3 class="our-products-subject">orange</h3>
          <p class="our-products-text">Dark chocolate</p>
          <button class="our-products-btn" type="button">45 UAH</button>
        </div>
      </li>
      <li class="our-products-item">
        <img
          srcset="
            ./images/Apple-choco_1x.jpg 1x,
            ./images/Apple-choco_2x.jpg 2x
          "
          src="./images/Apple-choco.jpg"
          alt="APPLE молочний шоколад"
          width="230"
          height="201"
        />
        <div class="our-products-content">
          <h3 class="our-products-subject">APPLE&CRANBERRY</h3>
          <p class="our-products-text">Milk chocolate</p>
          <button class="our-products-btn" type="button">50 UAH</button>
        </div>
      </li>
      <li class="our-products-item">
        <img
          srcset="./images/Lime-choco_1x.jpg 1x, ./images/Lime-choco_2x.jpg 2x"
          src="./images/Lime-choco.jpg"
          alt="LIME and SEA чорний шоколад"
          width="230"
          height="201"
        />
        <div class="our-products-content">
          <h3 class="our-products-subject">lime&sea salt</h3>
          <p class="our-products-text">Dark chocolate</p>
          <button class="our-products-btn" type="button">66 UAH</button>
        </div>
      </li>
      <li class="our-products-item">
        <img
          srcset="./images/Pine-choco_1x.jpg 1x, ./images/Pine-choco_2x.jpg 2x"
          src="./images/Pine-choco.jpg"
          alt="LIME and SEA чорний шоколад"
          width="230"
          height="201"
        />
        <div class="our-products-content">
          <h3 class="our-products-subject">pineapple</h3>
          <p class="our-products-text">Dark chocolate</p>
          <button class="our-products-btn" type="button">54 UAH</button>
        </div>
      </li>
      <li class="our-products-item">
        <img
          srcset="
            ./images/Classic-choco_1x.jpg 1x,
            ./images/Classic-choco_2x.jpg 2x
          "
          src="./images/Classic-choco.jpg"
          alt="Класичний молочний шоколад"
          width="230"
          height="201"
        />
        <div class="our-products-content">
          <h3 class="our-products-subject">Classic</h3>
          <p class="our-products-text">Milk chocolate</p>
          <button class="our-products-btn" type="button">45 UAH</button>
        </div>
      </li>
      <li class="our-products-item">
        <img
          srcset="
            ./images/Honey-choco_1x.jpg 1x,
            ./images/Honey-choco_2x.jpg 2x
          "
          src="./images/Honey-choco.jpg"
          alt="Медовий молочний шоколад"
          width="230"
          height="201"
        />
        <div class="our-products-content">
          <h3 class="our-products-subject">honey</h3>
          <p class="our-products-text">Milk chocolate</p>
          <button class="our-products-btn" type="button">50 UAH</button>
        </div>
      </li>
      <li class="our-products-item">
        <img
          srcset="
            ./images/Roasted-choco_1x.jpg 1x,
            ./images/Roasted-choco_2x.jpg 2x
          "
          src="./images/Roasted-choco.jpg"
          alt="ROASTED чорний шоколад"
          width="230"
          height="201"
        />
        <div class="our-products-content">
          <h3 class="our-products-subject">Roasted fruits</h3>
          <p class="our-products-text">Dark chocolate</p>
          <button class="our-products-btn" type="button">66 UAH</button>
        </div>
      </li>
      <li class="our-products-item">
        <img
          srcset="
            ./images/WHITE-choco_1x.jpg 1x,
            ./images/WHITE-choco_2x.jpg 2x
          "
          src="./images/Roasted-choco.jpg"
          alt="Класичний молочний шоколад"
          width="230"
          height="201"
        />
        <div class="our-products-content">
          <h3 class="our-products-subject">Classic</h3>
          <p class="our-products-text">White chocolate</p>
          <button class="our-products-btn" type="button">54 UAH</button>
        </div>
      </li>
    </ul>
  </div>
  <!--<div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-pagination">Slide 1</div>
        <div class="swiper-pagination">Slide 2</div>
      </div>
    </div>-->
</section>
