<section class="our-products-section" id="our_products">
  <div class="container">
    <!--Slogan-->
    <h2 class="word-our-slogan">
      our <span class="word-products-slogan"> products</span>
    </h2>
    <!--CHOCO-List-->
    <ul class="our-products-list list">
      <!--First-Choco-->
      <li class="our-products-item">
        <!--First-Choco-IMG-->
        <img
          srcset="
            ./img/img_our_products/Orange-choco_1x.jpg 1x,
            ./img/img_our_products/Orange-choco_2x.jpg 2x
          "
          src="./img/img_our_products/Orange-choco.jpg"
          alt="ORANGE чорний шоколад"
          width="230"
          height="201"
        />
        <!--First-Choco-Content-->
        <div class="our-products-content">
          <h3 class="our-products-subject">orange</h3>
          <p class="our-products-text">Dark chocolate</p>
          <button class="our-products-btn" type="button">45 UAH</button>
        </div>
      </li>
      <!--Second-Choco-->
      <li class="our-products-item hide-our-products-mob">
        <!--Second-Choco-IMG-->
        <img
          srcset="
            ./img/img_our_products/Apple-choco_1x.jpg 1x,
            ./img/img_our_products/Apple-choco_2x.jpg 2x
          "
          src="./img/img_our_products/Apple-choco.jpg"
          alt="APPLE молочний шоколад"
          width="230"
          height="201"
        />
        <!--Second-Choco-Content-->
        <div class="our-products-content">
          <h3 class="our-products-subject">APPLE&CRANBERRY</h3>
          <p class="our-products-text">Milk chocolate</p>
          <button class="our-products-btn" type="button">50 UAH</button>
        </div>
      </li>
      <!--Third-Choco-->
      <li class="our-products-item hide-our-products-mob our-products-tablet">
        <!--Third-Choco-IMG-->
        <img
          srcset="
            ./img/img_our_products/Lime-choco_1x.jpg 1x,
            ./img/img_our_products/Lime-choco_2x.jpg 2x
          "
          src="./img/img_our_products/Lime-choco.jpg"
          alt="LIME and SEA чорний шоколад"
          width="230"
          height="201"
        />
        <!--Third-Choco-Content-->
        <div class="our-products-content">
          <h3 class="our-products-subject">lime&sea salt</h3>
          <p class="our-products-text">Dark chocolate</p>
          <button class="our-products-btn" type="button">66 UAH</button>
        </div>
      </li>
      <!--Fourth-Choco-->
      <li
        class="our-products-item hide-our-products-mob hide-our-products-tablet"
      >
        <!--Fourth-Choco-IMG-->
        <img
          srcset="
            ./img/img_our_products/Pine-choco_1x.jpg 1x,
            ./img/img_our_products/Pine-choco_2x.jpg 2x
          "
          src="./img/img_our_products/Pine-choco.jpg"
          alt="LIME and SEA чорний шоколад"
          width="230"
          height="201"
        />
        <!--Fourth-Choco-Content-->
        <div class="our-products-content">
          <h3 class="our-products-subject">pineapple</h3>
          <p class="our-products-text">Dark chocolate</p>
          <button class="our-products-btn" type="button">54 UAH</button>
        </div>
      </li>
      <!--Fifth-Choco-->
      <li
        class="our-products-item hide-our-products-mob hide-our-products-tablet hide-our-products-desktop"
      >
        <!--Fifth-Choco-IMG-->
        <img
          srcset="
            ./img/img_our_products/Classic-choco_1x.jpg 1x,
            ./img/img_our_products/Classic-choco_2x.jpg 2x
          "
          src="./img/img_our_products/Classic-choco.jpg"
          alt="Класичний шоколад"
          width="230"
          height="201"
        />
        <!--Fifth-Choco-Content-->
        <div class="our-products-content">
          <h3 class="our-products-subject">Classic</h3>
          <p class="our-products-text">Milk chocolate</p>
          <button class="our-products-btn" type="button">45 UAH</button>
        </div>
      </li>
      <!--Sixth-Choco-->
      <li
        class="our-products-item hide-our-products-mob hide-our-products-tablet hide-our-products-desktop"
      >
        <!--Sixth-Choco-IMG-->
        <img
          srcset="
            ./img/img_our_products/Honey-choco_1x.jpg 1x,
            ./img/img_our_products/Honey-choco_2x.jpg 2x
          "
          src="./imag/Honey-choco.jpg"
          alt="Медовий молочний шоколад"
          width="230"
          height="201"
        />
        <!--Sixth-Choco-Content-->
        <div class="our-products-content">
          <h3 class="our-products-subject">honey</h3>
          <p class="our-products-text">Milk chocolate</p>
          <button class="our-products-btn" type="button">50 UAH</button>
        </div>
      </li>
      <!--Seventh-Choco-->
      <li
        class="our-products-item hide-our-products-mob hide-our-products-tablet hide-our-products-desktop"
      >
        <!--Seventh-Choco-IMG-->
        <img
          srcset="
            ./img/img_our_products/Roasted-choco_1x.jpg 1x,
            ./img/img_our_products/Roasted-choco_2x.jpg 2x
          "
          src="./img/img_our_products/Roasted-choco.jpg"
          alt="ROASTED чорний шоколад"
          width="230"
          height="201"
        />
        <!--Seventh-Choco-Content-->
        <div class="our-products-content">
          <h3 class="our-products-subject">Roasted fruits</h3>
          <p class="our-products-text">Dark chocolate</p>
          <button class="our-products-btn" type="button">66 UAH</button>
        </div>
      </li>
      <!--Eighth-Choco-->
      <li
        class="our-products-item hide-our-products-mob hide-our-products-tablet hide-our-products-desktop"
      >
        <!--Eighth-Choco-IMG-->
        <img
          srcset="
            ./img/img_our_products/WHITE-choco_1x.jpg 1x,
            ./img/img_our_products/WHITE-choco_2x.jpg 2x
          "
          src="./img/img_our_products/WHITE-choco.jpg"
          alt="Класичний молочний шоколад"
          width="230"
          height="201"
        />
        <!--Eighth-Choco-Content-->
        <div class="our-products-content">
          <h3 class="our-products-subject">Classic</h3>
          <p class="our-products-text">White chocolate</p>
          <button class="our-products-btn" type="button">54 UAH</button>
        </div>
      </li>
    </ul>
    <!--EXACTLY-NOT-Pagination-Btn-->
    <div class="pagination-list">
      <button type="button" class="pagination-btn-active"></button>
      <button type="button" class="pagination-btn"></button>
      <button type="button" class="pagination-btn"></button>
      <button type="button" class="pagination-btn"></button>
      <button type="button" class="pagination-btn"></button>
      <button type="button" class="pagination-btn"></button>
      <button type="button" class="pagination-btn"></button>
      <button type="button" class="pagination-btn"></button>
      <button type="button" class="pagination-btn"></button>
    </div>
  </div>
</section>
