<!-- Subscribe section -->
<section class="subscribe-section">
  <div class="subscribe-wrapper container">
    <h2 class="subscribe-title">Explore our new choсolate first</h2>
    <p class="subscribe-text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button type="button" class="subscribe-button" data-modal-open-sub>
      Subscribe
    </button>
  </div>
</section>

<!-- Modal -->

<div class="backdropp is-hidden" data-modal-sub>
  <div class="subscribe-modal">
    <div class="subscribe-background">
      <button type="button" class="subs-btn-close" data-modal-close-sub>
        <svg class="subs-svg-close">
          <use href="./img/sprite.svg#cross_white"></use>
        </svg>
      </button>
    </div>

    <!-- Form -->
    <div class="subscribe-wrap-form">
      <h2 class="subs-modal-title">
        Explore our <br /><span class="subs-wrap">new chocolate</span>first!
      </h2>
      <form class="subscribe-form">
        <div class="subs-wrap-btn">
          <label for="subscribe" class="label-subs">
            <input
              type="text"
              class="input-subs"
              name="email"
              id="subscribe"
              pattern="^[a-z0-9](\.?[a-z0-9]){5,}@g(oogle)?mail\.com$"
              placeholder="Enter your email"
            />
          </label>
          <button type="button" class="subs-modal-btn" aria-label="Submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
