<!--     TOP-SELLERS   -->
<section class="section-sellers">
    <div class="container">
        <h2 class="name-sellers"><span class="orange">TOP</span> SELLERS
        </h2>
        <ul class="list-sellers">

            <div class="nuts-milk-chocolate-sellers">
                <li class="item-sellers">
                    <picture>
                        <!--NUTS-->
                        <!--nuts-desk-web p-->
                        <source srcset="./img/top-sellers/img02@1xdesk.webp 1x , 
                    ./img/top-sellers/img02@2xdesk.webp 2x" media="(min-width: 1200px)"
                            src="./img/top-sellers/img02@1xdesk.webp" type="image/webp" />

                        <!--nuts-desk-jpg--->
                        <source srcset="./img/top-sellers/img02@1xdesk.jpg 1x , 
                        ./img/top-sellers/img02@2xdesk.jpg 2x" media="(min-width: 1200px)"
                            src="./img/top-sellers/img02@1xdesk.jpg" type="image/jpg" />

                        <!--nuts-tablet-web p-->
                        <source srcset="./img/top-sellers/img02@1xtablet.webp 1x , 
                    ./img/top-sellers/img02@2xtablet.webp 2x" media="(min-width: 768px)"
                            src="./img/top-sellers/img02@1xtablet.webp" type="image/webp" />

                        <!--nuts-tablet-jpg-->
                        <source srcset="./img/top-sellers/img02@1xtablet.jpg 1x , 
                                  ./img/top-sellers/img02@2xtablet.jpg 2x" media="(min-width: 768px)"
                            src="./img/top-sellers/img02@1xtablet.jpg" type="image/webp" />

                        <!--nuts-mobile-web p-->
                        <source srcset="./img/top-sellers/img02@1xmobile.webp 1x , 
                        ./img/top-sellers/img02@2xmobile.webp 2x" media="(min-width: 768px)"
                            src="./img/top-sellers/img02@1xmobile.webp" type="image/webp" />

                        <!--nuts-mobile-jpg-->
                        <source srcset="./img/top-sellers/img02@1xmobile.jpg 1x , 
                    ./img/top-sellers/img02@2xmobile.jpg 2x" media="(min-width: 768px)"
                            src="./img/top-sellers/img02@1xmobile.jpg" type="image/jpg" />
                    </picture>

                    <picture>
                        <!--MILK-CHOCOLATE-->
                        <!--milk-chocolate-desk-web p-->
                        <source srcset="./img/top-sellers/img01@1xdesk-milk-chocolate.webp 1x , 
                    ./img/top-sellers/img01@2xdesk-milk-chocolate.webp 2x" media="(min-width: 1200px)"
                            src="./img/top-sellers/img01@1xdesk-milk-chocolate.webp" type="image/webp" />

                        <!--milk-chocolate-desk-jpg--->
                        <source srcset="./img/top-sellers/.jpg 1x , 
                        ./img/top-sellers/.jpg 2x" media="(min-width: 1200px)" src="./img/top-sellers/.jpg"
                            type="image/jpg" />

                        <!--milk-chocolate-tablet-web p-->
                        <source srcset="./img/top-sellers/img01@1tablet-milk-chocolate.webp 1x , 
                    ./img/top-sellers/img01@2xtablet-milk-chocolate.webp 2x" media="(min-width: 768px)"
                            src="./img/top-sellers/img01@1tablet-milk-chocolate.webp" type="image/webp" />

                        <!--milk-chocolate-tablet-jpg-->
                        <source srcset="./img/top-sellers/img01@1tablet-milk-chocolate.jpg 1x , 
                                  ./img/top-sellers/img01@2xtablet-milk-chocolate.jpg 2x" media="(min-width: 768px)"
                            src="./img/top-sellers/img01@1tablet-milk-chocolate.jpg" type="image/jpg" />

                        <!--milk-chocolate-mobile-web p-->
                        <source srcset="./img/top-sellers/img01@1xmobile-milk-chocolate.webp 1x , 
                        ./img/top-sellers/img01@2xmobile-milk-chocolate.webp 2x" media="(min-width: 320px)"
                            src="./img/top-sellers/img01@1xmobile-milk-chocolate.webp" type="image/webp" />

                        <!--milk-chocolate-mobile-jpg-->
                        <source srcset="./img/top-sellers/img01@1xmobile-milk-chocolate.jpg 1x , 
                    ./img/top-sellers/img01@2xmobile-milk-chocolate.jpg 2x" media="(min-width: 320px)"
                            src="./img/top-sellers/img01@1xmobile-milk-chocolate.jpg" type="image/jpg" />
                    </picture>
                </li>
            </div>

            <div class="text-btn-sellers">
                <p class="text-sellers">Crazy enough chocolate originates from a bean just like the coffee bean
                    called Cacao. Cacao
                    has
                    been
                    around
                    for thousands of years and was first discovered by the Native American tribe called the
                    Mayans.
                </p>