<section id="top-sellers" class="top-sellers container">
  <div class="top-sellers-container">
    <h2 class="top-sellers-header">
      <span class="top-sellers-header-part">Top</span> Sellers
    </h2>

    <ul class="top-sellers-list">
      <li class="top-sellers-item top-sellers-item-nuts">
        <picture>
          <source
            srcset="
              ./img/top-sellers/desctop/img02desctop-nuts.webp    1x,
              ./img/top-sellers/desctop/img02desctop-nuts@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/top-sellers/desctop/img02desctop-nuts.jpg    1x,
              ./img/top-sellers/desctop/img02desctop-nuts@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />

          <source
            srcset="
              ./img/top-sellers/tablet/img02tablet-nuts.webp    1x,
              ./img/top-sellers/tablet/img02tablet-nuts@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/top-sellers/tablet/img02tablet-nuts.jpg    1x,
              ./img/top-sellers/tablet/img02tablet-nuts@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />

          <source
            srcset="
              ./img/top-sellers/mobile/img02mobile-nuts.webp    1x,
              ./img/top-sellers/mobile/img02mobile-nuts@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/top-sellers/mobile/img02mobile-nuts.jpg    1x,
              ./img/top-sellers/mobile/img02mobile-nuts@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />

          <img
            class="top-sellers-image"
            src="./img/top-sellers/desctop/img02desctop-nuts.jpg"
            alt="nuts"
          />
        </picture>
        <p class="additional-text-mobile top-sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="top-sellers-item">
        <picture>
          <source
            srcset="
              ./img/top-sellers/desctop/img01desctop-choco.webp    1x,
              ./img/top-sellers/desctop/img01desctop-choco@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/top-sellers/desctop/img01desctop-choco.jpg    1x,
              ./img/top-sellers/desctop/img01desctop-choco@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />

          <source
            srcset="
              ./img/top-sellers/tablet/img01tablet-choco.webp    1x,
              ./img/top-sellers/tablet/img01tablet-choco@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/top-sellers/tablet/img01tablet-choco.jpg    1x,
              ./img/top-sellers/tablet/img01tablet-choco@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />

          <source
            srcset="
              ./img/top-sellers/mobile/img01mobile-choco.webp    1x,
              ./img/top-sellers/mobile/img01mobile-choco@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/top-sellers/mobile/img02mobile-choco.jpg    1x,
              ./img/top-sellers/mobile/img02mobile-choco@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />

          <img
            class="top-sellers-image"
            src="./img/top-sellers/desctop/img01desctop-choco.jpg"
            alt="a picture of milk chocolate"
          />
        </picture>
      </li>

      <li class="top-sellers-item desctop-only-image">
        <picture>
          <source
            srcset="
              ./img/top-sellers/desctop/img01desctop-only.webp    1x,
              ./img/top-sellers/desctop/img01desctop-only@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/top-sellers/desctop/img01desctop-only.jpg    1x,
              ./img/top-sellers/desctop/img01desctop-only@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />

          <img
            class="top-sellers-image"
            src="./img/top-sellers/desctop/img01desctop-only.jpg"
            alt="a picture of dark chocolate"
          />
        </picture>
      </li>
    </ul>

    <div class="top-sellers-positioning">
      <p class="top-sellers-text mobile-hidden">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>

      <button type="button" class="top-sellers-btn" data-modal-open>
        Buy now
      </button>
    </div>
  </div>
</section>
