<!--     TOP-SELERS   -->
<section class="section-sellers">
    <div class="container">
        <h2 class="name-sellers"><span class="orange">TOP</span> SELLERS
        </h2>
        <ul class="list-sellers">

            <div class="nuts-milk-chocolate-sellers">
                <li class="item-sellers">
                    <picture>
                        <!--Desktop-->
                        <!--nuts-desk-web p-->
                        <source srcset="./img/top-sellers/img02@1xdesk.webp 1x , 
                    ./img/top-sellers/img02@2xdesk.webp 2x" media="(min-width: 1200px)"
                            src="./img/top-sellers/img02@1xdesk.webp" type="image/webp" />

                        <!--nuts-desk-jpg--->
                        <source srcset="./img/top-sellers/img02@1xdesk.jpg 1x , 
                        ./img/top-sellers/img02@2xdesk.jpg 2x" media="(min-width: 1200px)"
                            src="./img/top-sellers/img02@1xdesk.jpg" type="image/webp" />

                        <!--nuts-tablet-web p-->
                        <source srcset="./img/top-sellers/.webp 1x , 
                    ./img/top-sellers/.webp 2x" media="(min-width: 768px)" src="./img/top-sellers/.webp"
                            type="image/webp" />

                        <!--nuts-tablet-web p-->
                        <source srcset="./img/top-sellers/.webp 1x , 
                                  ./img/top-sellers/.webp 2x" media="(min-width: 768px)" src="./img/top-sellers/.webp"
                            type="image/webp" />