<section class="unique-components-section">
  <div class="uc-container container">
    <div class="uc-container-title-text">
      <h1 class="uc-title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="uc-title-span">TASTE</span> SENSATION
      </h1>
      <p class="uc-text">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>

    <div class="ingredients-container">
      <ul class="ingredients-list">
        <li class="ingredients-item-mc">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/unique_components/1mc206desk@1x.webp 1x,
                ./img/unique_components/1mc412desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/unique_components/1mc206desk@1x.png 1x,
                ./img/unique_components/1mc412desk@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/unique_components/1mc224tab@1x.webp 1x,
                ./img/unique_components/1mc448tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/unique_components/1mc224tab@1x.png 1x,
                ./img/unique_components/1mc448tab@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/unique_components/1mc224mob@1x.webp 1x,
                ./img/unique_components/1mc448mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/unique_components/1mc224mob@1x.png 1x,
                ./img/unique_components/1mc448mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="ingredients-image"
              src="./img/unique_components/1mc224mob@1x.png"
              alt="Milk Chocolate"
              width="224"
              height="171"
              loading="lazy"
            />
          </picture>

          <h3 class="mc-txt">MILK CHOCOLATE</h3>

          <!-- overlay -->
          <div class="overlay-div-mc">
            <h2 class="overlay-title-mc">MILK CHOCOLATE</h2>

            <p class="overlay-txt1">chocolate</p>

            <p class="overlay-txt2">the benefits</p>

            <p class="overlay-txt3">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </li>

        <li class="ingredients-item-m">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/unique_components/2m206desk@1x.webp 1x,
                ./img/unique_components/2m412desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/unique_components/2m206desk@1x.png 1x,
                ./img/unique_components/2m412desk@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/unique_components/2m224tab@1x.webp 1x,
                ./img/unique_components/2m448tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/unique_components/2m224tab@1x.png 1x,
                ./img/unique_components/2m448tab@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/unique_components/2m224mob@1x.webp 1x,
                ./img/unique_components/2m448mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/unique_components/2m224mob@1x.png 1x,
                ./img/unique_components/2m448mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="ingredients-image"
              src="./img/unique_components/2m224mob@1x.png"
              alt="Milk"
              width="224"
              height="171"
              loading="lazy"
            />
          </picture>
          <h3 class="m-txt">MILK</h3>

          <!-- overlay -->
          <div class="overlay-div-m">
            <h2 class="overlay-title-m">MILK</h2>

            <p class="overlay-txt1">milk</p>

            <p class="overlay-txt2">the benefits</p>

            <p class="overlay-txt3">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </li>

        <li class="ingredients-item-n">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/unique_components/3n206desk@1x.webp 1x,
                ./img/unique_components/3n412desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/unique_components/3n206desk@1x.png 1x,
                ./img/unique_components/3n412desk@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/unique_components/3n224tab@1x.webp 1x,
                ./img/unique_components/3n448tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/unique_components/3n224tab@1x.png 1x,
                ./img/unique_components/3n448tab@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/unique_components/3n224mob@1x.webp 1x,
                ./img/unique_components/3n448mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/unique_components/3n224mob@1x.png 1x,
                ./img/unique_components/3n448mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="ingredients-image"
              src="./img/unique_components/3n224mob@1x.png"
              alt="Nuts"
              width="224"
              height="171"
              loading="lazy"
            />
          </picture>
          <h3 class="n-txt">NUTS</h3>

          <!-- overlay -->
          <div class="overlay-div-n">
            <h2 class="overlay-title-n">NUTS</h2>

            <p class="overlay-txt1">nuts</p>

            <p class="overlay-txt2">the benefits</p>

            <p class="overlay-txt3">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </li>

        <li class="ingredients-item-s">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/unique_components/4s206desk@1x.webp 1x,
                ./img/unique_components/4s412desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/unique_components/4s206desk@1x.png 1x,
                ./img/unique_components/4s412desk@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/unique_components/4s224tab@1x.webp 1x,
                ./img/unique_components/4s448tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/unique_components/4s224tab@1x.png 1x,
                ./img/unique_components/4s448tab@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/unique_components/4s224mob@1x.webp 1x,
                ./img/unique_components/4s448mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/unique_components/4s224mob@1x.png 1x,
                ./img/unique_components/4s448mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="ingredients-image"
              src="./img/unique_components/4s224mob@1x.png"
              alt="Semi-Sweet_Chcolate"
              width="224"
              height="171"
              loading="lazy"
            />
          </picture>
          <h3 class="s-txt">SEMI - SWEET CHOCOLATE</h3>

          <!-- overlay -->
          <div class="overlay-div-s">
            <h2 class="overlay-title-s">SEMI - SWEET CHOCOLATE</h2>

            <p class="overlay-txt1">sweet chocolate</p>

            <p class="overlay-txt2">the benefits</p>

            <p class="overlay-txt3">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
