<section class="unique-components-section">
    <div class="uc-container">
      <div class="uc-container-title-text">
        <h1 class="uc-title">
          IT ALL ADDS UP TO ONE EXCEPTIONAL
          <span class="uc-title-span">TASTE</span> SENSATION
        </h1>
        <p class="uc-text">
          At Simply Chocolate, we believe that the secret to exceptional
          chocolate is in the details. From the sourcing of the finest
          ingredients to the careful crafting of each individual piece, every
          step of our process adds up to one exceptional taste sensation.
        </p>
      </div>

      <div class="ingredients-container">
        <ul class="ingredients-list list">
          <li class="ingredients-item-mc item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  .src/img/unique_components/1mc206desk@1x.webp 1x,
                  .src/img/unique_components/1mc412desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  .src/img/unique_components/1mc206desk@1x.png 1x,
                  .src/img/unique_components/1mc412desk@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  .src/img/unique_components/1mc224tab@1x.webp 1x,
                  .src/img/unique_components/1mc448tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  .src/img/unique_components/1mc224tab@1x.png 1x,
                  .src/img/unique_components/1mc448tab@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  .src/img/unique_components/1mc224mob@1x.webp 1x,
                  .src/img/unique_components/1mc448mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  .src/img/unique_components/1mc224mob@1x.png 1x,
                  .src/img/unique_components/1mc448mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="ingredients-image"
                src=".src/img/unique_components/1mc224mob@1x.png"
                alt="Milk Chocolate"
                width="224"
                height="171"
                loading="lazy"
              />
            </picture>

            <h3 class="mc-txt">MILK CHOCOLATE</h3>
          </li>

          <li class="ingredients-item-m item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  .src/img/unique_components/2m206desk@1x.webp 1x,
                  .src/img/unique_components/2m412desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  .src/img/unique_components/2m206desk@1x.png 1x,
                  .src/img/unique_components/2m412desk@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  .src/img/unique_components/2m224tab@1x.webp 1x,
                  .src/img/unique_components/2m448tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  .src/img/unique_components/2m224tab@1x.png 1x,
                  .src/img/unique_components/2m448tab@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  .src/img/unique_components/2m224mob@1x.webp 1x,
                  .src/img/unique_components/2m448mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  .src/img/unique_components/2m224mob@1x.png 1x,
                  .src/img/unique_components/2m448mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="ingredients-image"
                src=".src/img/unique_components/2m224mob@1x.png"
                alt="Milk"
                width="224"
                height="171"
                loading="lazy"
              />
            </picture>
            <h3 class="m-txt">MILK</h3>
          </li>

          <li class="ingredients-item-n item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  .src/img/unique_components/3n206desk@1x.webp 1x,
                  .src/img/unique_components/3n412desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  .src/img/unique_components/3n206desk@1x.png 1x,
                  .src/img/unique_components/3n412desk@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  .src/img/unique_components/3n224tab@1x.webp 1x,
                  .src/img/unique_components/3n448tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  .src/img/unique_components/3n224tab@1x.png 1x,
                  .src/img/unique_components/3n448tab@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  .src/img/unique_components/3n224mob@1x.webp 1x,
                  .src/img/unique_components/3n448mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  .src/img/unique_components/3n224mob@1x.png 1x,
                  .src/img/unique_components/3n448mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="ingredients-image"
                src=".src/img/unique_components/3n224mob@1x.png"
                alt="Nuts"
                width="224"
                height="171"
                loading="lazy"
              />
            </picture>
            <h3 class="n-txt">NUTS</h3>
          </li>

          <li class="ingredients-item-s item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  .src/img/unique_components/4s206desk@1x.webp 1x,
                  .src/img/unique_components/4s412desk@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  .src/img/unique_components/4s206desk@1x.png 1x,
                  .src/img/unique_components/4s412desk@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  .src/img/unique_components/4s224tab@1x.webp 1x,
                  .src/img/unique_components/4s448tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  .src/img/unique_components/4s224tab@1x.png 1x,
                  .src/img/unique_components/4s448tab@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  .src/img/unique_components/4s224mob@1x.webp 1x,
                  .src/img/unique_components/4s448mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  .src/img/unique_components/4s224mob@1x.png 1x,
                  .src/img/unique_components/4s448mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="ingredients-image"
                src=".src/img/unique_components/4s224mob@1x.png"
                alt="Semi-Sweet_Chcolate"
                width="224"
                height="171"
                loading="lazy"
              />
            </picture>
            <h3 class="s-txt">SEMI - SWEET CHOCOLATE</h3>
          </li>
        </ul>
      </div>
    </div>
  </section>