/* Basic styles */
.benefits {
  background-color: var(--dark-violet-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .benefits {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* Basic styles */

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Tables styles >=768px */
@media only screen and (min-width: 768px) {
  .benefits-list {
    gap: 32px;
  }
  .benefits-list-item {
    flex-basis: calc((100% - 32px) / 2);
  }
}

/* Desctop styles >=1200px */
@media only screen and (min-width: 1200px) {
  .container.benefits-container {
    max-width: 1164px;
  }
  .benefits-list {
    display: flex;
    gap: 70px;
  }
  .benefits-list-item {
    flex-basis: calc((100% - 70px * 2) / 3);
  }
  .benefits-list-item-pseudo {
    position: relative;
  }

  .benefits-list-item-pseudo::after {
    position: absolute;
    transform-origin: center center;
    top: 50%;
    right: 0;
    transform: translateX(50%) rotate(90deg);
    display: block;
    content: '';
    width: 124px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

/* Basic styles */
.benefits-icon {
  margin-bottom: 22px;
}

/* Basic styles */
.benefits-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin-bottom: 18px;
}

/* Basic styles */
.benefits-item-desc {
  max-width: 308px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
