/* Basic styles */
.benefits {
  background-color: var(--dark-violet-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .benefits {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* Basic styles */
.benefits-list-item:not(:last-child) {
  margin-bottom: 20px;
}

/* Basic styles */
.benefits-icon {
  margin-bottom: 22px;
}

/* Basic styles */
.benefits-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin-bottom: 18px;
}

/* Basic styles */
.benefits-item-desc {
  max-width: 308px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
