.footer {
  background-color: var(--dark-violet-color);
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 20px;
}

.slogan-container {
  max-width: 250px;
  margin-bottom: 32px;
}

.footer-text {
  color: var(--background-white);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.02em;
}

.footer-text-item {
  color: var(--brand-color);
}

.footer-contacts {
  color: var(--background-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 14px;
}
.contacts-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer-contacts-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--background-white);
}
.footer-contacts-item:first-child{
    margin-bottom: 4px;
}
.footer-social-list {
  display: flex;
  gap: 14px;
}

.footer-social-list-icon{
   fill: var(--dark-violet-color);
   stroke: var(--background-white);
   stroke-width: 1px;
   transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
  .footer-social-list-icon:hover,
  .footer-social-list-icon:focus {
   stroke: var(--brand-color);
}
  


.footer-menu {
  display: flex;
}

.footer-menu-link:hover,
.footer-menu-link:focus{
    color:var(--brand-color);
}

.line-container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}
.line {
  max-width: 335px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transform: rotate(180deg);
  margin-bottom: 32px;
}


.footer-menu-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (max-width: 767px) {
  .footer-menu {
    gap: 18px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
  .footer {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .first-part-container {
    display: flex;
    margin-bottom: 54px;
    justify-content: space-between;
  }

  .footer-menu {
    gap: 24px;
  }

  .footer-text {
    line-height: 1.21;
  }

  .contacts-container {
    gap: 52px;
  }

  .line-container {
    max-width: 704px;
    margin-bottom: 24px;
  }

  .footer-social-list-icon{
    stroke-width: 2px;
 }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1136px;
  }

  .line-container {
    max-width: 1200px;
    margin-bottom: 24px;
  }

  .first-part-container {
    margin-bottom: 62px;
  }

}
