.header {
  padding-top: 20px;
  padding-bottom: 14px;
  margin-bottom: 0;

  background-color: #fafafa;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.header-container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
}
@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    max-width: 1200px;
  }
}

.logo {
  margin-right: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }
}

.icon-logo {
  width: 21px;
  height: 21px;
}

@media screen and (min-width: 1200px) {
  .icon-logo {
    width: 24px;
    height: 24px;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .logo-container {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

.header-nav {
  margin-left: 188px;
  margin-left: 137px;
}

@media screen and (max-width: 1199px) {
  .header-nav {
    display: none;
  }
}

.header-nav-list {
  display: flex;
  gap: 24px;
}

.header-nav-list-link {
  display: block;

  padding-top: 28px;
  padding-bottom: 36px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  transition: color var(--transition);
}

.header-social-icon {
  stroke: var(--background-color);
  stroke-width: 2px;
  fill: transparent;

  transition: stroke var(--transition);
}

.header-social-list {
  display: flex;
  gap: 18px;
  margin-left: auto;

  padding-top: 24px;
  padding-bottom: 32px;
}

.header-social-list-item {
  width: 24px;
  height: 24px;
}

.header-social-link {
  display: block;
  width: 100%;
  height: 100%;

  transition: stroke var(--transition);
}

@media screen and (max-width: 1199px) {
  .header-social-list {
    display: none;
  }
}

.menu-toggle.js-open-menu {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: auto;

  width: 28px;
  height: 28px;

  outline: none;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-toggle.js-open-menu {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-toggle.js-open-menu {
    display: none;
  }
}

.header-menu-icon {
  width: 28px;
  height: 28px;

  stroke: var(--background-color);
}

@media screen and (min-width: 768px) {
  .header-menu-icon {
    width: 32px;
    height: 32px;
  }
}

.header-nav-list-link:focus,
.header-nav-list-link:hover {
  color: var(--brand-color);
}

.header-social-icon:focus,
.header-social-icon:hover {
  stroke: var(--brand-color);
}

.mobile-menu {
  position: fixed;
}

.menu-container.js-menu-container {
  position: absolute;
  width: 220px;
  height: 100vh;
  top: 0;
  right: 0;

  display: none;
  flex-direction: column;

  padding-top: 136px;
  padding-bottom: 20px;

  background-color: var(--dark-violet-color);

  transform: translateX(100%);
  transition: transform var(--transition);
}

@media screen and (min-width: 768px) {
  .menu-container.js-menu-container {
    width: 290px;
    padding-top: 156px;
    padding-bottom: 24px;
  }
}

.menu-container.is-open {
  transform: translateX(0);

  display: flex;
}

.menu-toggle.js-close-menu {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;

  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-toggle.js-close-menu {
    top: 24px;
    right: 32px;

    width: 32px;
    height: 32px;
  }
}

.mobile-menu-close-icon {
  width: 28px;
  height: 28px;

  fill: var(--background-white);

  transition: stroke var(--transition);
}

@media screen and (min-width: 768px) {
  .mobile-menu-close-icon {
    width: 32px;
    height: 32px;
  }
}

.mobile-menu-close-icon:hover,
.mobile-menu-close-icon:focus {
  stroke: var(--brand-color);
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-bottom: auto;
  padding-left: 50px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-list {
    padding-left: 85px;
  }
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  color: var(--background-white);

  transition: color var(--transition);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--brand-color);
}

.mobile-menu-social-link {
  display: block;
}

.mobile-menu-social-list {
  display: flex;
  gap: 18px;

  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-social-list {
    padding-left: 32px;
  }
}

.mobile-menu-social-icon {
  stroke: var(--background-white);
  stroke-width: 2px;
  fill: transparent;

  transition: stroke var(--transition);
}

.mobile-menu-social-icon:hover,
.mobile-menu-social-icon:focus {
  stroke: var(--brand-color);
}

.mobile-menu-social-icon.instagram {
  width: 22px;
  height: 22px;
}

.mobile-menu-social-icon.twitter {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-social-icon {
    width: 24px;
    height: 24px;
  }
}
