.how-made {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 20px;
    /* Прибрати ці падфнги бо вони загальні */
    /* background: var(--background-white); */
    border-radius: 15px;
    margin-bottom: 72px;

}
.howmade-span {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: var(--background-color);
    margin-bottom: 32px;
}
.howmade-span-made {
    color: var(--brand-color);
}
.video {
    width: 335px;
    height: 500px;
    display: block;
    overflow: hidden;
    border-radius: 15px;
    transform: translateY(0px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
@media (min-width: 768px) {
    .video {
        width: 614px;
        height: 854px;
    }
}
.howmade-list-div {
    background-color: var(--background-white);
    border-radius: 15px;
    max-width: 335px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.howmade-p {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    max-width: 307px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: var(--background-color);
}
.howmade-ul {
    margin-top:20px;
    max-width: 375px;
    list-style-type: disc;
    padding-left: 30px;
    padding-right: 14px;
    list-style-image: url("./src/img/sprite.svg#list_point"); 
}
.howmade-li {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--background-color); 
    margin-bottom: 18px;
}
