@media screen and (min-width: 768px) {
    .section {
        padding-bottom: 100px;
    }
}

 .container {
        max-width: 704px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .title {
        font-size: 24px;
        line-height: 1.17;

        margin-bottom: 50px;
    }


    .swiper {
        max-width: 704px;
    }


    .item-content {
        padding-left: 16px;
        padding-right: 16px;
    }
