.link {
    text-decoration: none;
  }
  .list {
    list-style: none;
  }
  
  /* 1 section */
  
  .title-btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    width: 120px;
    height: 41px;
    background: #fd9222;
    border-radius: 100px;
    color: #ffffff;
    padding: 12px 28px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .title-btn:hover,
  .title-btn:focus {
    background-color: #fcf1e0;
    color: #fd9222;
  }
  
  /* MODAL WINDOW */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  
    width: 100%;
    height: 100%;
  
    background: rgba(46, 47, 66, 0.4);
    backdrop-filter: blur(2px);
  
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .thumb-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: ;
    width: 291px;
    border-radius: 50%;
    padding: 53px 14px 14px 14px;
    background: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .thumb-btn {
    position: absolute;
    top: 14px;
    left: 14px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #fcfcfc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .thumb-svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .thumb-btn:hover,
  .thumb-btn:focus {
    border-radius: 50%;
    background-color: #fcf1e0;
  }
  
  .thumb-btn:hover .thumb-svg,
  .thumb-btn:focus .thumb-svg {
    fill: #d44528;
  }
  
  .modal-str {
    width: 102px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fd9222;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .modal-str-2 {
    display: flex;
    letter-spacing: 0.03em;
    color: #111111;
    text-align: right;
  }
  
  .choko-ul {
    margin: 0;
    padding-left: 0;
  }
  
  .choko-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .choko-li {
    padding: 8px 16px;
    box-sizing: border-box;
    width: 263px;
    height: 85px;
    background: #ffffff;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
  }
  .choko-li:not(:last-child) {
    margin-bottom: 15px;
  }
  
  .choko-price {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #111111;
    padding: 6px 16px;
    width: 70px;
    height: 29px;
    background: #fafafa;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    cursor: pointer;
  }
  
  .choko-price:hover, .choko-price:focus {
  background: #FD9222;
  }
  
  
  /* outline: 2px solid red;
  outline-offset: -2px; */