
:root {
  --brand-color: #FD9222;
  --background-color: #111111;
  --dark-violet-color: #1E1823;
  --background-white: #FFFFFF;
  --cross-black-hov:  #d44528;
  --btn-back: #fcf1e0;
  --color-text: #000000;
  --modal-back: #fafafa;
  --shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(2px);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.thumb-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  max-height: 95%;
  overflow-y: auto;

  /*height: 974px;*/
  width: 291px;
  border-radius: 15px;
  padding: 53px 14px 14px 14px;
  background: var(--modal-back);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
  .thumb-div {
    width: 609px;
    height: 1058px;
    padding: 48px;
  }
}

.thumb-btn {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--modal-back);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .thumb-btn {
    top: 24px;
    left: auto;
    right: 24px;
    width: 28px;
    height: 28px;
  }
}

.thumb-svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--background-color);
}
@media only screen and (min-width: 768px) {
  .thumb-svg {
    width: 14px;
    height: 14px;
  }
}

.thumb-btn:hover,
.thumb-btn:focus {
  border-radius: 50%;
  background-color: #fcf1e0;
}

.thumb-btn:hover .thumb-svg,
.thumb-btn:focus .thumb-svg {
  stroke: #d44528;
}

.modal-str {
  display: flex;
  gap: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .modal-str {
    text-align: center;
    justify-content: center;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
}

.modal-str-2 {
  color:var(--background-color);
}

.choko-ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
  margin-bottom: 15px;
  gap: 15px;
}
@media only screen and (min-width: 768px) {
  .choko-ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 40px;
  }
}

.choko-li {
  display: block;
  padding: 8px 16px;
  box-sizing: border-box;
  width: 263px;
  height: 85px;
  background: var(--background-white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
@media only screen and (min-width: 768px) {
  .choko-li {
    width: 160px;
    height: 196px;
    padding: 24px 20px 18px;
  }
}

.choko-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .choko-div {
    flex-direction: column;
    gap: 14px;
  }
}

.choko-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.choko-price {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--background-color);
  padding: 6px 16px;
  width: 70px;
  height: 29px;
  background: var(--modal-back);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .choko-price {
    width: 96px;
    height: 33px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}

.choko-price:hover,
.choko-price:focus {
  background: var(--brand-color);
}

.modal-form {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .modal-form {
    margin-bottom: 18px;
  }
}

.inp-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  margin: 0;
  padding: 0;
}

.inp-li {
  width: 100%;
}

.inp-lab {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--color-text);
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .inp-lab {
    font-size: 14px;
    line-height: 1.29;
  }
}
.person-inp-ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 14px;
}
@media only screen and (min-width: 768px) {
  .person-inp-ul {
    flex-direction: row;
    gap: 21px;
  }
}

.person-inp-li {
  width: 100%;
}

.input {
  display: flex;
  padding: 14px 18px;
  width: 100%;
  height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
}
@media only screen and (min-width: 768px) {
  .input {
    height: 66px;
    padding: 22px 24px;
  }
}

.input::placeholder {
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .input::placeholder {
    font-size: 18px;
    line-height: 22px;
  }
}

.inp-number-div {
  position: relative;
}

.input-num {
  padding: 10px 18px 10px 102px;
}
@media only screen and (min-width: 768px) {
  .input-num {
    padding: 17px 24px 17px 177px;
  }
}
.mun-span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0px 20px 0px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: var(--color-text);
  gap: 8px;
  width: 84px;
  height: 25px;
  box-shadow: 1.5px 0px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .mun-span {
    width: 125px;
    height: 32px;
    gap: 18px;
    left: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 768px) {
  .flag-svg {
    width: 32px;
    height: 24px;
  }
}

.inp-card-div {
  position: relative;
}
.input-card {
  padding-right: 70px;
}
.card-svg {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .card-svg {
    right: 17px;
    width: 44px;
    height: 30px;
  }
}

.input-comm {
  display: block;
  resize: none;
  width: 100%;
  height: 91px;
}
@media only screen and (min-width: 768px) {
  .input-comm {
    height: 137px;
  }
}
.btn-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 109px;
  height: 41px;
  background: var(--brand-color);
  color: var(--background-white);
  border-radius: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .btn-modal {
    width: 133px;
    height: 45px;
  }
}
.btn-modal:hover,
.btn-modal:focus {
  background: var(--btn-back);
  color: var(--brand-color);
}