/*
  |============================
  |------------TEXT------------
  |============================
*/
.word-our-slogan {
  margin: 0;
  margin-bottom: 32px;

  /*font-family: 'Montserrat';*/
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2px;
  letter-spacing: -0.03em;

  text-align: center;
  text-transform: uppercase;

  color: var(--background-color);
}

.word-products-slogan {
  margin: 0;

  /*font-family: 'Montserrat';*/
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2px;
  letter-spacing: -0.03em;

  text-align: center;
  text-transform: uppercase;

  color: var(--brand-color);
}

.our-products-subject {
  margin: 0;
  margin-bottom: 2px;

  /*font-family: 'Montserrat';*/
  font-weight: 600;
  font-size: 18px;
  line-height: 1.34;
  letter-spacing: -0.02em;

  text-align: center;
  text-transform: uppercase;

  color: var(--background-color);
}

.our-products-text {
  margin: 0;
  margin-bottom: 18px;

  /*font-family: 'Montserrat';
  font-weight: 400;*/
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: -0.02em;

  text-align: center;

  color: rgba(17, 17, 17, 0.7);
}
/*
  |============================
  |-----------SETTINGS---------
  |============================
*/
.our-products-section {
  padding: 72px 0;
}

@media screen and (min-width: 768px) {
  .our-products-section {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  .our-products-section {
    padding: 128px 0;
  }
}

.our-products-list {
  position: relative;

  display: flex;
  /*flex-wrap: nowrap;
  flex-wrap: wrap;*/
  gap: 18px;
  /*justify-content: center;*/
}

.our-products-item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 52px;
  padding-right: 52px;

  width: 100%;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;

  background-color: var(--background-white);
}

@media screen and (min-width: 768px) {
  .our-products-item {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .hide-our-products-mob {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hide-our-products-tablet {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (min-width: 1199px) {
  .hide-our-products-desktop {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.our-products-content {
  margin-top: 8px;
}

.our-products-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 94px;
  height: 33px;

  /*font-family: 'Montserrat';*/
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  text-align: center;

  color: var(--background-color);

  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

/*.our-products-btn-margin {
  margin-bottom: 20px;
}*/

.pagination-list {
  display: flex;
  margin-top: 20px;
  /*margin: auto;
  padding: 0;*/

  justify-content: center;
  gap: 13px;
}

@media screen and (min-width: 768px) {
  .pagination-list {
    margin-top: 32px;
  }
}

.pagination-btn-active {
  width: 28px;
  height: 13px;

  background: var(--brand-color);
  border-radius: 10px;
  border: none;
}

.pagination-btn {
  width: 13px;
  height: 13px;

  background: rgba(17, 17, 17, 0.1);
  border-radius: 50%;
  border: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-products-tablet {
    width: 270px;
    position: absolute;
    left: 82.4%;
  }
}
