/*
  |============================
  |------------TEXT------------
  |============================
*/
.word-our-slogan {
  margin: 0;
  margin-bottom: 32px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2px;
  letter-spacing: -0.03em;

  text-align: center;
  text-transform: uppercase;

  color: #111111;
}

.word-products-slogan {
  margin: 0;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2px;
  letter-spacing: -0.03em;

  text-align: center;
  text-transform: uppercase;

  color: #fd9222;
}

.our-products-subject {
  margin: 0;
  margin-bottom: 2px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.34;
  letter-spacing: -0.02em;

  text-align: center;
  text-transform: uppercase;

  color: #111111;
}

.our-products-text {
  margin: 0;
  margin-bottom: 18px;

  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: -0.02em;

  text-align: center;

  color: rgba(17, 17, 17, 0.7);
}
/*
  |============================
  |-----SHTEFANYO--SETTINGS----
  |============================
*/
.our-products-section {
  padding: 72px 0;
}

@media screen and (min-width: 768px) {
  .our-products-section {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  .our-products-section {
    padding: 128px 0;
  }
}

.our-products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
}

.our-products-item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 52px;
  padding-right: 52px;

  width: 100%;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;

  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .our-products-item {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.our-products-content {
  margin-top: 8px;
}

.our-products-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 94px;
  height: 33px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  text-align: center;

  color: #111111;

  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}
