/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./benefits.css');
@import url('./unique_components.css');
@import url('./how_its_made.css');
@import url('./our_products.css');
@import url('./top_sellers.css');
@import url('./is_loved.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./modal_sellers.css');
@import url('./modal_review.css');


:root {
  --brand-color: #FD9222;
  --background-color: #111111;
  --dark-violet-color: #1E1823;
  --background-white: #FFFFFF;
  --shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #E2E2E2;
}
.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}