
.subscribe-wrapper {
    text-align: center;
}

.subscribe-title {
    font-family:inherit;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 24px;
    width: 378px
}

@media screen and (max-width: 767px) {
    .subscribe-title {
        width: 291px;
        line-height: 1.2;
    }
}

.subscribe-text {
        font-family: inherit;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        text-align: center;
        color: #FFFFFF;
        width: 467px;
        margin: 0 auto;
        margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
    .subscribe-text {
        width: 100%;
    }
}

.subscribe-button {
    background: var(--brand-color);
    border-radius: 100px;
    border: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    color: #FFFFFF;
    font-size: 18px;
        padding: 14px 40px;
}

@media screen and (max-width: 767px) {
    .subscribe-button {
        font-size: 14px;
        padding: 12px 28px;
    }
}

.subscribe-button:hover,
.subscribe-button:focus {
    color:#FD9222; 
    background-color: #FCF1E0;
}
.subscribe-section {
    background: var(--brand-color);
    padding-top: 72px;
    padding-bottom: 72px;
    background-size: cover
}

@media screen and (max-width: 767px) {
    .subscribe-section {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/subscribe-bg/subscribe-mobile.jpg);
            padding-top: 62px;
            padding-bottom: 62px;
            max-width: 428px;
            margin-left: auto;
            margin-right: auto;
        }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
        .subscribe-section {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/subscribe-bg/subscribe-mobile@2x.jpg);
        }
}

@media screen and (min-width: 768px) {
    .subscribe-section {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/subscribe-bg/subscribe-tablet.jpg);
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
        .subscribe-section {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/subscribe-bg/subscribe-tablet@2x.jpg);
        }
}

@media screen and (min-width: 1200px) {
    .subscribe-section {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/subscribe-bg/subscribe-desktop.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px) {
            .subscribe-section {
                background-image:url(../img/subscribe-bg/subscribe-desktop@2x.jpg);
            }
        }

        /* Modal */

.backdropp {
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-modal {
    width: 538px;
    background: #FAFAFA;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    border-radius: 15px;
    overflow: hidden;
}

.subs-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    margin-left: auto;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}


.subs-btn-close:focus,
.subs-btn-close:hover {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background: #FCF1E0;
}

.subscribe-background {
    background: var(--brand-color);
    background-image: url(../img/subscribe-modal-bg/subs-bg-desktop.jpg);
    width: 538px;
    height: 196px;
}

.subs-svg-close {
    width: 14px;
    height: 14px;
    outline: none;
    stroke: white;
}

.subs-svg-close:hover,
.subs-svg-close:focus {
   
}

.subscribe-wrap-form {
    padding: 40px;
}

.subs-modal-title {
    font-family: inherit;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 28px;
}

.subs-wrap {
    color: var(--brand-color);
}

.label-subs {
    width: 100%;
}

.input-subs {
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 30px;
    background: #FAFAFA;
    height: 52px;
    outline: none;
    cursor: pointer;
    width: 100%;
    padding-left: 24px;
}

.input-subs::placeholder {
    font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        color: rgba(64, 64, 64, 0.3);
}

.input-subs:focus {
    border: 1px solid var(--brand-color);
}

.subs-modal-btn {
    font-family: 'Montserat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    padding: 17px 33px;
    background: #FD9222;
    border-radius: 100px;
    border: none;
    margin-left: 8px;
}

.subs-modal-btn:hover,
.subs-modal-btn:focus {
    color: #FD9222;
    background-color: #FCF1E0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subs-wrap-btn {
    display: flex;
}