.item-sellers {
    list-style: none;
}

.text-sellers {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-align: left;

}

.list-sellers {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    align-content: stretch;


}

@media screen and (min-width:768px) {
    .list-sellers {
        display: flex;
        justify-content: space-around;
    }
}


.button-sellers {
    background: var(--color-orange);
    color: var(--color-white);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    border: none;
    display: flex;
    padding: 12px 28px;
    width: 120px;
    height: 41px;
    border-radius: 100px;

}



.btn-buy-now {
    width: 64px;
    height: 17px;
}

@media screen and (min-width:768px) {

    .btn-buy-now {
        text-align: center;
        width: 82px;
        height: 22px;
    }
}


.name-sellers {
    text-align: center;
    margin: 32px;
}

@media screen and (min-width:768px) {
    .name-sellers {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:1159px) {
    .black-chocolate-sellers {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1159px) {

    .nuts-milk-chocolate-sellers {
        display: flex;

    }
}

.text-btn-sellers {
    display: flex;
    justify-content: center;
    width: 306px;
}